.app {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100%;  
  background-color: var(--veryDarkBlue);
  background-image: url('assets/bg-mobile.png');
}

@media screen and (min-width: 376px) {
  .app {
    background-image: url('assets/bg-desktop.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 50vh;
  }
}